html,
body {
  width: 100%;
  height: 100%;
  
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  
}

.nav{
    background-color: #3f4544;
    height: 2rem;
    
}

.btn {
  box-shadow: 3px 3px grey;
}

.jumbotron{
    background: url(	https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_960_720.jpg);
    background-size: cover;
    height: auto;

}

a {
    color: #20eed9;
    transition: all .35s;
  }
  
  a:hover, a:focus {
    color: #20eed9;
    box-shadow: #3f4544;
  }
  
  .mywork{
    margin-left: 18pc;
    margin-top: 5px;
  }
  .p{
    font-size: x-large;
    margin-top: 2pc;
  }
  .card-title{
    margin-top: 5px;
    color: rgb(0, 191, 255);
    font-size: x-large;
    font-weight: bolder;
    
  }
  .contact{
    display: flex;
    justify-content: center;
    background-color: #3f4544;
    margin-bottom: 0px;
    margin-top: 20px;
    color: azure;
    padding-top: 10px;
  }
  .card-img1{
    border-radius: 10px;
    height: 400px;
    margin-left: 10px;
  }
  .centergrid{
    margin-left: 20pc;
  }
  .cardabout{
    background-color: rgb(232, 253, 248);
    margin-top: 0px;
  }